<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./style/style.css'>
</head>
<body>
    <h1 id='title'>
        <%= title %> 
    </h1>
    <strong class='sub-title' id='sub-title'>
        <%= subTitle %>
    </strong>
    <ul class='downloads-list'>
        <li>
            <a href='https://www.google.com/intl/en/chrome/' class='links'>
                <div class='btn-container'>
                    <%= googleText %>
                </div>
            </a>
        </li>
        <li><a href='https://safari.en.softonic.com/mac' class='links'><%= safariText %></li>
        <li><a href='https://www.microsoft.com/en-us/edge/features?form=MY01RZ&OCID=MY01RZ' class='links'><%= edgeText %></li>
        <li><a href='https://www.mozilla.org/en-US/firefox/new/' class='links'><%= firefoxText %></li>
    </ul>
</body>
</html>